---
layout: archive
title: "ID History -Collaborative Curation- Archive"
permalink: /history/archive/
author_profile: false
header:
  image: /images/did-header1.png
  og_image: /images/evolution.png
  caption: "[DID History - Curators Collaborative](https://discord.gg/YdGEh2t)"
sidebar:
  title: DID History
  nav: didhistory 
classes: wide
share: true
---

<iframe src="//www.slideshare.net/slideshow/embed_code/key/ujYqOXNEaaogEq" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/prabathsiriwardena/the-evolution-of-internet-identity" title="The Evolution of Internet Identity" target="_blank">The Evolution of Internet Identity</a> </strong> from <strong><a href="https://www.slideshare.net/prabathsiriwardena" target="_blank">Prabath Siriwardena</a></strong> </div>

{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    {% if label != written_label %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in collection.docs %}
    {% unless collection.output == false or collection.label == "posts" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}

