---
layout: archive
title: "ID History -Collaborative Curation- Archive"
description: Curators organizing information on the history of decentralized identity in the channels of a new discord server, the contents of which is periodically exported, and published, here.
permalink: /history/archive/
author_profile: false
header:
  image: /images/did-header1.png
  og_image: /images/evolution.png
  caption: "[DID History - Curators Collaborative](https://discord.gg/YdGEh2t)"
sidebar:
  title: DID History
  nav: didhistory 
classes: wide
author: DIDecentral
author_profile: true
share: true
---




If you don't feel like exploring the wonders of discordapp, the contents of that server will be periodically published on this page.

<p>I've now been organizing information on the history of decentralized identity in the channels of a new discord server. I've been searching through all the places this research has been collected, from the <a href="http://wiki.idcommons.net/History">ID Commons Wiki</a>. to the four corners of the internet.</p>

<p><a href="https://discord.gg/jp3zMgX"><img src="/images/idcommons-history-icon.jpg" align="left"></a><br> If you don't feel like exploring the wonders of <a href="https://discord.gg/jp3zMgX">discordapp</a>, the contents of that server will be periodically published on this page.</p>

<p>Ultimately, the idea is to funnel this information into the identity-commons historical repository: <a href="https://github.com/Identitywoman/identity-commons/blob/master/ID-History.md">⇉⇉ identitywoman/identity-commons ⇇⇇</a></p>

<h2>Curators Archive</h2>

{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    {% if label != written_label %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in collection.docs %}
    {% unless collection.output == false or collection.label == "posts" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}

