{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <h3 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 300 }}</p>{% endif %}
    <p class="page__meta"><strong>Updated:</strong> {{ post.last_modified_at }} <i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>

    {% if post.name %}
      {% for company in site.data.companys %}
        {% if post.name == company.name %}
          {% if company.parent %}
            {% assign tags = company.parent | push: post.name %}
          {% endif %}
          {% if company.related %}
            {% if tags != Nil %}
              {% assign tags = tags | push: company.related %}
            {%else %} 
              {% assign tags = company.related %}
            {%endif%}   
          {% endif %}
          {% assign sorted_tags = tags | concat: post.tags | uniq | compact | sort %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% assign sorted_tags = post.tags | uniq | compact | sort %}
    {% endif %}
    {% for tag in sorted_tags %}
      <div class="tags">{{ tag }}</div> 
    {% endfor %}<hr>
  </article> 
</div>