{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src="{{ teaser | relative_url }}" alt="">
      </div>
    {% endif %}
    <br><strong><a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a></strong>
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 300 }}</p>{% endif %}
    <p class="page__meta"><strong>Updated:</strong> {{ post.last_modified_at }} <i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
	{% if post.name and post.categories contains 'Companies' %}
   	  {% assign tags = Nil%}
      {% assign sorted_tags = Nil%}
      {% for company in site.data.companys %}
        {% if post.name == company.name %}
    	  {% if company.parent %}{% assign tags = company.parent | push: post.name %}{% endif %}
    	  {% if company.related != Nil %}
    	    {% if company.related contains ';'%}
    		  {% assign tgs = company.related |split: '; ' | push: post.name %}
    		  {% assign tags = tags | concat: tgs %}
    	    {% else %}
    		  {% assign tags = tags | push: company.related | push: post.name %}
    	    {% endif%}   
    	  {% endif %}
    	  {% if tags != Nil %}
    	    {% assign sorted_tags = tags | concat: post.tags | uniq | compact | sort_natural %}
    	  {% elsif post.tags !=Nil %}
    	    {% assign sorted_tags = post.tags | uniq | compact | sort_natural %} 
    	  {% endif%}
        {% endif %}
      {% endfor %}
	{% else %}
	  {% assign sorted_tags = post.tags | uniq | compact | sort %}
	{% endif %}
    <small><strong>Tags:</strong></small>
	{% for tag in sorted_tags %}
      <div class="tags">{{ tag }}</div> 
    {% endfor %}
  </article> 
</div>