---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
    /* apply a natural box layout model to all elements */
    box-sizing: border-box;
    background-color: $background-color;
    font-size: 13px;
  
    @include breakpoint($medium) {
      font-size: 16px;
    }
  
    @include breakpoint($large) {
      font-size: 18px;
    }
  
    @include breakpoint($x-large) {
      font-size: 20px;
    }
  }