---
layout: single 
---
{%assign todo = "feed,github" | split: ","%}
{%assign socials = "discord,crunchbase,linkedin,telegram,twitter,youtube" | split: ","%}
{%assign core = "docs,developers,app,forum,github" | split: ","%}
{%assign headers = "Company,Product,Meta,Ecosystem,Explainer,Standards,Policy,HowTo,Recap,Resources" | split: "," %}
  {% for item in headers %}
    {%assign mark=''%}
      {% for row in site.data.content %}
      {% if row.section == item and row.main == page.name and mark != 1 %}{%assign mark = 1%}<h2 id="{{item}}">{{item | capitalize}}</h2><ul>{%endif%}
      {% if row.section == item and row.main == page.name %}
        {%assign attributes = "location,region,policy,event,sector,industry,market,focus,projects,tech,standard" | split: "," %}
        {% if row.section == "Company"%}<h3>Name: {{ row.title}}</h3>{%else%}<li><strong><a href="{{ row.link }}">{{ row.title }}</a></strong></br>{%endif%}
        {% if row.section == "Company"%}<em>
          <strong>Main:</strong> <em><a href="{{row.link}}">Website</a>, <a href="{{row.blog}}">Blog</a>,</em>
          {% for item in row %}
            {% if core contains item.first %}
              {% if item.last != nil %}
                <em><a href="{{ item.last }}">{{item.first | capitalize}}</a></em>, 
              {% endif %}
            {% endif %}
          {% endfor %}
          <strong>Socials:</strong>
          {% for item in row %}
            {% if socials contains item.first %}
              {% if item.last != nil %}
                <em><a href="{{ item.last }}">{{item.first | capitalize}}</a></em>, 
              {% endif %}
            {% endif %}
          {% endfor %}    
          {% else %}<small>
        {% endif %}
        {% if row.related contains ';' %}
          <strong>Related</strong>:{%assign related = row.related|split:';'%}
          {%assign trekker = 0%}
          {%for item in related%}
            {%assign trekker = trekker | plus: 1%}
          {%endfor%}
          {%for item in related%}
            {%if item != nil%} {{item|strip}}{%if trekker > 1%},{%assign trekker = trekker | minus: 1%}{%endif%}{%endif%}
          {%endfor%}
        {%elsif row.related == nil%}
        {%else%} 
          <strong>Related</strong>: {{row.related}}
        {%endif%}
        {%if row.parent !=nil and row.parent != page.name%}<strong>Parent: </strong>{{row.parent}}{%endif%}
        {% if row.type != "Company" %}<strong>Type: </strong>{{row.type|strip|capitalize}}{% endif %}
          {% if row.founders !=nil%}
            {% if row.founders contains ';' %}
              <strong>{% if row.type == "Company" %}Founders{%else%}Authors:{% endif %}</strong>{{ row.founders | replace: ";","," | prepend: ": "}}
            {% else %}
              <strong>{% if row.type == "Company" %}Founder{%else%}Founder:{% endif %}</strong>{{ row.founders | replace: ";","," | prepend: ": "}}
            {%endif%}
          {%endif%}
          {%if row.date != nil%} <strong>{% if row.type == "Company" %}Founded:{%else%}Date:{% endif %}</strong> {{row.date}}{%endif%}
          {%for item in row%}
            {%if attributes contains item.first and item.last != nil %}
              {% if item.last contains ';' %}
                <strong>{{item.first|capitalize}}:</strong> 
                {% assign ray = item.last | split: ';'%}
                {%for item in ray %}{%if item != " "%} {{item|strip}}{%endif%}{%endfor%}
              {%else%} 
                <strong>{{item.first|capitalize}}:</strong> {{item.last}}
              {%endif%}
            {%endif%}
          {%endfor%}
        {% if row.section == "Company"%}</em>{% else %}</small>{% endif %}
      </li>
      {% if row.text %}<blockquote>{{row.text | markdownify}}</blockquote>{%endif%}
    {%endif%}
  {% endfor %}
  </ul>
  {% endfor %}
  {%for row in site.data.content%}
    {% if row.main != page.name and row.related contains page.name %}
      {% assign count = 1 %}
    {%endif%}
  {%endfor%}
  {%if count == 1%}
  <h2 id="related">Related</h2>
  <p>From other pages on this site. (Beta)</p>
  <ul>
        {%assign attributes = "related,location,region,policy,event,sector,industry,market,focus,projects,tech,standard" | split: "," %}
        {%for row in site.data.content%}
        {% if row.main != page.name and row.related contains page.name %}
          <li>Name: <strong><a href="{{ row.link }}">{{ row.title }}</a></strong><br>
        <small>
        {% if row.related contains ';' %}
          <strong>Relevant</strong>:{%assign related = row.related|split:';'%}
          {%assign trekker = 0%}
          {%for item in related%}
            {%assign trekker = trekker | plus: 1%}
          {%endfor%}
          {%for item in related%}
            {%if item != nil%} {{item|strip}}{%if trekker > 1%},{%assign trekker = trekker | minus: 1%}{%endif%}{%endif%}
          {%endfor%}
        {%elsif row.related == nil%}
        {%else%} 
          <strong>Relevant</strong>: {{row.related}}
        {%endif%}
        {%if row.parent !=nil and row.parent != page.name%}<strong>Parent: </strong>{{row.parent}}{%endif%}
        <strong>Type: </strong>{{row.type|strip|capitalize}}</small>
        <small>
          {% if row.founders !=nil%}
            {% if row.founders contains ';' %}
              <strong>Author(s)</strong>{{ row.founders | replace: ";","," | prepend: ": "}}
            {% else %}
              <strong>Author</strong>{{row.founders | prepend: ": "}}
            {%endif%}
          {%endif%}
          {%if row.date != nil%} <strong>Date:</strong> ({{row.date}}){%endif%}
          {%for item in row%}
            {%if attributes contains item.first and item.last != nil %}
              {% if item.last contains ';' %}
                <strong>{{item.first|capitalize}}:</strong> 
                {% assign ray = item.last | split: ';'%}
                {%for item in ray %}{%if item != " "%} {{item|strip}}{%endif%}{%endfor%}
              {%else%} 
                <strong>{{item.first|capitalize}}:</strong> {{item.last}}
              {%endif%}
            {%endif%}
          {%endfor%}
        </small>
      </li>
      {% if row.text %}<blockquote>{{row.text | markdownify}}</blockquote>{%endif%}
      {%endif%}
    {%endfor%}
  </ul>
  {%endif%}