---
layout: archive
---

<!-- <h2>Feature</h2>

{% include feature_row id="welcome" type="center" %}

{% include feature_row id="feature_row" %}

-->

{{ content }}

<h2 id="top">Categories</h2>
{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}
{% for item in site.data.catz %}
  <strong>{{ item[0] | upcase }}</strong>
  <ul class="taxonomy__index">
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i and item[1] contains category[0] %}
        <li>
          <a href="/categories/#{{ category[0] | slugify }}">
            <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </ul>
{% endfor %}
<h2>Tags Grouped by Type</h2>
<p>This system of navigation is part of an ongoing transition towards making this content, and its subject-matter, more accessible based upon the specific topic you are interested in.</p>
<h3>Types</h3>
<strong class="taxonomy__index">{% for item in site.data.tagz %}<a href="#{{item[0]|downcase}}">{{item[0] | capitalize | replace: "_", "-" }}</a>{% endfor %}</strong>
{% for item in site.data.tagz %}
  <h4 id="{{item[0] | downcase}}">{{ item[0] | upcase | replace: "_", "-" }}</h4><a href="#top" class="back-to-top"><strong>{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</strong></a>

  {% assign tags_max = 0 %}
  {% for tag in site.tags %}
    {% if tag[1].size > tags_max %}
      {% assign tags_max = tag[1].size %}
    {% endif %}
  {% endfor %}

  <ul class="taxonomy__index">
  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i and item[1] contains tag[0] %}
        <li>
          <a href="tags/{{item[0] | replace: '_','-'}}#{{ tag[0] | slugify }}">
            <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
{% endfor %}
