---
layout: archive
---

<!-- <h2>Feature</h2>

{% include feature_row id="welcome" type="center" %}

{% include feature_row id="feature_row" %}

-->

{{ content }}


{% assign tags_max = 0 %}
{% for tag in site.tags %}
  {% if tag[1].size > tags_max %}
    {% assign tags_max = tag[1].size %}
  {% endif %}
{% endfor %}

<h2>Sections</h2>
<h3 id="top">☙ {% for item in site.data.tagz %}<a href="#{{item[0]|downcase}}">{{item[0] | upcase | replace: "_", "-" }}</a> ☙ {% endfor %}</h3>

<h2>Tags Grouped by Section</h2>
This system of navigation is part of an ongoing transition towards making this content, and its subject-matter, more accessible based upon the specific topic you are interested in. 
{% for item in site.data.tagz %}
<h3 id="{{item[0] | downcase}}">{{ item[0] | upcase | replace: "_", "-" }}</h3>

<ul class="taxonomy__index">
  {% for i in (1..tags_max) reversed %}
    {% for tag in site.tags %}
      {% if tag[1].size == i and item[1] contains tag[0] %}
        <li>
          <a href="tags/{{item[0] | replace: '_','-'}}#{{ tag[0] | slugify }}">
            <strong>{{ tag[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
<a href="#top" class="back-to-top"><strong>{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</strong></a>
{% endfor %}

