---
layout: single 
---
{% for item in page.headings %}
  {%assign mark=''%}
  {%assign marktwo=''%}
  {%assign markthree=''%}
  {% assign content = site.data.standards %} 
    
  {% if item == "W3C ID History" and markthree != 1%}
    {%assign wgs = "Decentralized Identifiers,Verifiable Credentials,JSON-LD,WebAuthN" | split: ','%}
    {% assign markthree=1%}
	<h2 id="Working Groups">Working Groups</h2>
	{% for wg in wgs %}
	  <h3 id="{{wg}} Working Group">{{wg}} Working Group</h3>
	  {% for row in content %}
	    {% if row.main contains wg and row.section contains "Working Group"%}
          {% include entry_single.html %}
	    {% endif %}
	  {% endfor %}    
	{% endfor %}
  {%endif%}
  {% for row in content %}
    {% unless item contains ";" %}
      {% if row.section contains item and row.main contains page.name and mark != 1 %}{%assign mark = 1%}<h2 id="{{item}}">{{item}}</h2><ul>{%endif%}
	{% endunless %}
	{% if item contains ";" %}
	  {% assign head = item | split: ";"%}
      {% if row.section contains item and row.main contains page.name and marktwo != 1 %}{%assign marktwo = 1%}</ul><h3 id="{{head.last}}">{{head.last}}</h3><ul>{%endif%}
    {% endif %}
	{% if row.section contains item and row.main contains page.name %}
      {% include entry_single.html %}
	{% endif %}
{% endfor %}
</ul>
{% endfor %}
